<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/Contactus">Contact</a>
        <a href="/OurService">About</a>
    </div>
      <h1>Home page </h1>
    <div>
       <div>

       </div>
       <div>
         <img src="https://i.pinimg.com/originals/7e/fd/53/7efd53f344b902192b64f5f1a1d27032.jpg"/>
        </div>
    </div>
</body>
</html>